@import "tailwindcss";

@layer base {
  html {
    font-family: 'Segoe UI', system-ui, sans-serif;
    font-weight: 500;
    color: oklch(0.205 0 0);
    background-color: oklch(0.97 0 0);
    @variant dark {
      color: oklch(0.97 0 0);
      background-color: oklch(0.205 0 0);
    }
  }
}

@theme {
  --font-display: 'Segoe UI', sans-serif;
}
